
<div class="container mt-4">

    <button type="button" class="btn btn-primary" (click)="showSensitiveData = !showSensitiveData"> Show/Hide Sensitive</button>
{{showSensitiveData}}
    <div class="row">
        <div class="col">Bank Name</div>
        <div class="col">Head Office</div>
        <div class="col">No. Of Branches</div>
        <div class="col" *ngIf="showSensitiveData">Total Balance</div>
        <div class="col">Expected Growth</div>
        <div class="col">No. of Customers</div>
        <div class="col">Email</div>
        <div class="col" *ngIf="showSensitiveData">Mobile</div>
        <div class="col">Action</div>        
    </div>
    <div class="row" *ngFor="let account of accounts">
        <div class="col">{{account.bankName}}</div>
        <div class="col">{{account.headOffc}}</div>
        <div class="col">{{account.noOfBranches}}</div>
        <div class="col" *ngIf="showSensitiveData">{{account.totalBal}}</div>
        <div class="col">{{account.expectedGrowth}}</div>
        <div class="col">{{account.noOfCustomers}}</div>
        <div class="col">{{account.email}}</div>
        <div class="col" *ngIf="showSensitiveData">{{account.mobile}}</div>
        <div class="col">Action</div>   
    </div>
</div>